@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2px;
  height: 100%;
  
}

.picture-container {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.picture-container img {
  /* width: 100%; */
  max-width: 100%;
  height: auto;
}

.text-container {
  background-color:#FFA500;
  padding: 20px;
  height: 100%;
}

.text-container h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-family: serif;
  font-style: italic;
}

.text-container p {
  font-size: 24px;
  line-height: 2.0;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-family: serif;
  

}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: bounce 1s infinite;
}

.button-container button {
  margin-top: 20px;
  font-size: 24px; /* increase font size to 24px */
  padding: 10px 20px; /* increase padding to 10px top/bottom and 20px left/right */
  font-weight: bold; /* make font bold */
  font-family: serif;
  font-style: normal;
}


@media screen and (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .picture-container {
    order: 2; /* Move the image container below the text container */
  }
}
