.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  #filter {
    width: 25%;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 16px;
  }
  .filter{
    padding-left: 1rem;
  }
  
  .custom {
    width: min-content;

  }
  