.logo { /* logo */
  display: flex;
  align-items: center;
}
.cofo { /* cofo */
  font-size: 30px;
  color: #FFA500;
  font-weight: bold;
  font-style: italic;
}

.concept { /* concept */
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-style: italic;
}