.subscription-container1 {

}
.text-container1 {
    padding-left: 300px;
}
h3 {
    font-weight: 500;
    
}
.subscription-container2 {

}
.text-container2 {
    text-align: center;
    height: 700px;
}