.header{ 
    justify-content: center;
    align-items: center;
    display: flex;
   color: aqua;
}
.class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}