
.category {
    margin-top: 2rem;
  }
  
  .card {
    width: 18rem;
    margin-right: 1rem;
  }
  
  .card-img-top {
    height: 10rem;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .row {
    margin-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  /* Scrollbar styling */
  .row::-webkit-scrollbar {
    height: 8px;
    background-color: #f5f5f5;
  }
  
  .row::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
  }
  
  .row::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  } 

  
  
 
  