.back-btn:hover {
    background-color: #d88d02;
    border-color: #d88d02;
}
.back-btn {
    background-color: #FFA500;
    border-color: #FFA500;

}
.back-btn:active:hover {
    background-color: #FFA500;
    border-color: #FFA500;
}
.card button {
    background-color: #FFA500;
}
.card button:hover {
    background-color: #d88d02;
    border-color: #d88d02;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .logo {
    max-width: 200px;
  }
  